@import url(main.css);

body,html{
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 840px;
}
body{
    display: flex;
}



/*BARRA LATERAL*/
header{
    position: fixed;
    height: 100%;
}
.nav-item{
    width: 48px;
    
}















main{
    background: green;
    
    right: 0;
    margin-left: 72px;
    height: 600%;
    width: 100%;
    min-width: 768px;
}

#conteudodadosct{
    transition: height .1s ease;
}

/*MEDIA QUERIES PARA RESPONSIVIDADE*/
@media (max-width:575px){
    header{
        max-width: 72px;
    }
}

/* Estilos globais (Mobile First) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Estilos para smartphones */
    header{
        width: 72px;
    }
}

/* Tablets em modo retrato e acima (≥600px) */ /*md*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
    header{
        width: 72px;
    }
}

/* Telas médias: notebooks pequenos e desktops básicos (≥900px) */ /*lg*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para laptops */
    header{
        width: 72px;
    }
}

/* Telas grandes: desktops e monitores grandes (≥1200px) */ /*xl*/
@media (min-width: 1200px) {
  /* Estilos para desktops grandes */
    header{
        width: 260px;
    }
    main{
        margin-left: 260px;
    }
    
    .nav-item{
        width: 100%;
    }
}

/*MEDIA QUERIES PARA RESPONSIVIDADE*/

