@import url(main.css);



body,html{
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 840px;
}
body{
    display: flex;
}



/*BARRA LATERAL*/
aside{
    position: fixed;
    height: 100%;
    padding: 0px 0px 20px;
}
#logo-lateral{
    padding: 10px;
}
#navegacao-lateral{
    overflow-y: auto;
    overflow-x: hidden;
}
.nav-item{
    width: 100%;
}
#dados-lateral{
    margin: 0 10px;
}
#conteudodadosct{
    transition: height .1s ease;
}
#rodape-lateral{
    position: absolute;
    padding-bottom: 5px;
    bottom: 0;
    top: auto;
    left: 0;
}
.fotodeperfil-lateral{
    width: 20px;
}
.nomedeusuario-lateral{
    margin-right: 4px;
}
/*BARRA LATERAL*/



/*PRINCIPAL*/
main{
    right: 0;
    margin-left: 72px;
    height: 100%;
    width: 100%;
    min-width: 768px;
}
#atalhospdf-header a{
    padding: 0 12px;

}




/*PRINCIPAL*/



/*MEDIA QUERIES PARA RESPONSIVIDADE*/
@media (max-width:575px){
    aside{
        max-width: 72px;
    }
}

/* Estilos globais (Mobile First) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Estilos para smartphones */
    aside{
        width: 72px;
    }
}

/* Tablets em modo retrato e acima (≥600px) */ /*md*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
    aside{
        width: 72px;
    }
}

/* Telas médias: notebooks pequenos e desktops básicos (≥900px) */ /*lg*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para laptops */
    aside{
        width: 72px;
    }
}

/* Telas grandes: desktops e monitores grandes (≥1200px) */ /*xl*/
@media (min-width: 1200px) {
  /* Estilos para desktops grandes */
    aside{
        width: 260px;
        padding: 0px 0px 75px;
    }
    main{
        margin-left: 260px;
    }
    
    .nav-item{
        width: 100%;
    }
    .fotodeperfil-lateral{
    width: 40px;
    }
}

/*MEDIA QUERIES PARA RESPONSIVIDADE*/

