{% load static %}
{% include 'partials/doctype.html' %}
{% include "partials/head.html" with pagina_atual="dashboard" %}
<body>
    <!--LATERAL-->{% include 'partials/aside.html' with pagina_atual='dashboard' %}
    <main>
        <!--BARRA SUPERIOR-->{% include "partials/header.html" with pagina_atual="dashboard" %}
        <!--CONTEUDO PRINCIPAL-->
        <div id="conteudo-principal" class="m-2">
            <div class="d-block d-xl-flex">
                <section class="card secao-main m-1">
                    <div class="card-header d-flex justify-content-between">
                        <h2 class="h5">Notificações <span class="badge text-bg-danger">+15</span></h2>
                        <a href="{% url 'notificacao' %}" class="link-secondary link-offset-1">mais detalhes</a>    
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-striped table-hover w-100">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Nº</th>
                                    <th>Contato</th>
                                    <th>Conselheira</th>
                                    <th>Data</th>
                                    <th>Período</th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Maria Silva Tocantins</td>
                                    <td>001</td>
                                    <td>(19) 99999-1111</td>
                                    <td>Juliana Souza</td>
                                    <td>26/07</td>
                                    <td>Manhã</td>
                                    <td><a class="btn btn-primary btn-sm">Notificar</a></td>
                                </tr>
                                <tr>
                                    <td>Maria Silva Tocantins</td>
                                    <td>001</td>
                                    <td>(19) 99999-1111</td>
                                    <td>Juliana Souza</td>
                                    <td>26/07</td>
                                    <td>Manhã</td>
                                    <td><a class="btn btn-primary btn-sm">Notificar</a></td>
                                </tr>
                                <tr>
                                    <td>Maria Silva Tocantins</td>
                                    <td>001</td>
                                    <td>(19) 99999-1111</td>
                                    <td>Juliana Souza</td>
                                    <td>26/07</td>
                                    <td>Manhã</td>
                                    <td><a class="btn btn-primary btn-sm">Notificar</a></td>
                                </tr>
                                <tr>
                                    <td>Maria Silva Tocantins</td>
                                    <td>001</td>
                                    <td>(19) 99999-1111</td>
                                    <td>Juliana Souza</td>
                                    <td>26/07</td>
                                    <td>Manhã</td>
                                    <td><a class="btn btn-primary btn-sm">Notificar</a></td>
                                </tr>
                                <tr>
                                    <td>Maria Silva Tocantins</td>
                                    <td>001</td>
                                    <td>(19) 99999-1111</td>
                                    <td>Juliana Souza</td>
                                    <td>26/07</td>
                                    <td>Manhã</td>
                                    <td><a class="btn btn-primary btn-sm">Notificar</a></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>
        </div><!--CONTEUDO PRINCIPAL-->
        <!--RODAPE-->
        <div class="border-bottom mb-3">
            {% include "partials/rodape.html" %}
        </div><!--RODAPE-->
    </main>
{% include 'partials/endscript.html' %}