{% load static %}
{% include 'partials/doctype.html' %}
{% include "partials/head.html" with pagina_atual="notificacao" %}
<body>
    <!--LATERAL-->{% include 'partials/aside.html' with pagina_atual='notificacao' %}
    <main class="bg-body-secondary">
        <!--BARRA SUPERIOR-->{% include "partials/header.html" with pagina_atual="notificacao" %}
        <!--CONTEUDO PRINCIPAL-->
        <div id="conteudo-principal" class="m-2">
            <!--Texto título e sobre-->
            <div class="mx-3 my-2 ">
                <h5 class="p-0 m-0 mb-2 display-6 border-5 border-bottom d-inline-block">Notificações pendentes</h5>
                <p>A interface de notificação permite que os secretários realizem de forma rápida e eficiente o envio de comunicados oficiais aos parentes dos assistidos. </p>
            </div><!--Texto título e sobre-->
            <!--Interface de pesquisa notficiações-->
            <div class="mx-3">
                <div>
                    <form action="" class="row px-2 gap-2">
                        <input type="text" class="form-control col" placeholder="Pesquisa">
                        <input type="submit" class="btn btn-outline-primary col-1">
                    </form>
                </div>
                <div class="pt-2">
                    <form action="" id="checkconselheiras" class="d-flex justify-content-between">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-black" type="checkbox" id="conselheira-um">
                            <label class="form-check-label" for="conselheira-um">Conselheira Um</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-black" type="checkbox" id="conselheira-dois">
                            <label class="form-check-label" for="conselheira-dois">Conselheira Dois</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-black" type="checkbox" id="conselheira-tres">
                            <label class="form-check-label" for="conselheira-tres">Conselheira Três</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-black" type="checkbox" id="conselheira-quatro">
                            <label class="form-check-label" for="conselheira-quatro">Conselheira Quatro</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-black" type="checkbox" id="conselheira-cinco">
                            <label class="form-check-label" for="conselheira-cinco">Conselheira Cinco</label>
                        </div>
                    </form>
                </div>
            </div><!--Interface de pesquisa notficiações-->
            <div class="container-fluid">
                <!--Separação por data-->
                <div class="row ">
                    <!--Divisoria por data-->
                    <div class="divisoriadata">
                        <div class="h4">Hoje</div>
                        <hr>
                    </div><!--Divisoria por data-->
                    <!--Card de informações-->
                    <div class="col-12 col-lg-6 mb-3">
                        <section class="m-0 shadow-sm">
                            <article class="card">
                                <!--Header CARD Notificações-->
                                <div class="card-header h5 d-flex justify-content-between">
                                    <div class="d-flex gap-3">
                                        <span class="badge text-bg-secondary">081/19</span>
                                        <span>Martinho da Silva Safadão</span>
                                    </div>
                                    <div class="text-body-tertiary align-content-center">
                                        <div class="longago"><i class="bi bi-clock-history me-2"></i>há 2 horas</div>
                                    </div>
                                    
                                </div><!--Header CARD Notificações-->
                                <!--Body CARD Notificações-->
                                <div class="card-body">
                                    <div class="row px-1 g-2 justify-content-between">
                                        <div class="col-12 col-lg-6 infoassist">
                                            <h5 class="text-body-emphasis border-1 border-bottom pt-1 d-inline-block">Informações do Assistido</h5>
                                            <table>
                                                <tr>
                                                    <td>Nome:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            Martinho da Silva Safadão
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Pasta:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            081/2019
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sexo:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            Não definido
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nascimento:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            08/05/2014
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Endereço:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            R. dos Marcianos Nº501
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Escola:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            EMEB Lincoln Takahashi
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-lg-6 infoassist">
                                            <h5 class="text-body-emphasis border-1 border-bottom pt-1 d-inline-block">Informações Familiares</h5>
                                            <table>
                                                <tr>
                                                    <td>Responsável:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            Fulano de Tal
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Genitora:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            Marta da Silva Safadon
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Genitor:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            Martão da Silva Safadao tambem
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Irmão:</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            um cara ai
                                                        </a>
                                                    </td>
                                            </table>
                                        </div>
                                        <div class="col-12 col-lg-6 infoassist">
                                            <h5 class="text-body-emphasis border-1 border-bottom pt-1 d-inline-block">Contato</h5>
                                            <table>
                                                <tr>
                                                    <td><i class="bi bi-whatsapp pe-2"></i>Genitora</td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            (17) 2237-5831
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i class="bi bi-whatsapp pe-2"></i>Tio Valdao </td>
                                                    <td>
                                                        <a href="" class="link-copy link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                                            (17) 2214-4812
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-lg-6 infoassist">
                                            <h5 class="text-body-emphasis border-1 border-bottom pt-1 d-inline-block">Sobre a Notificação</h5>
                                            <table>
                                                <tr>
                                                    <td>Conselheira:</td>
                                                    <td>Conselheira Um</td>
                                                </tr>
                                                <tr>
                                                    <td>Sobre:</td>
                                                    <td>Notifique a mãe</td>
                                                </tr>
                                                <tr>
                                                    <td>Data e hora:</td>
                                                    <td>15/02/2018, 07h30</td>
                                                </tr>
                                            </table>
                                            <form action="">
                                                <h6>Obs.:</h6>
                                                <textarea name="" id="" class="form-control border-black border-2"></textarea>
                                                <h6>Hora marcada:</h6>
                                                <div class=" d-flex flex-column-reverse gap-1 inputsnots">
                                                    <input type="date" class="form-control border-black border-2 ">
                                                    <input type="time" class="form-control border-black border-2">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!--Body CARD Notificações-->
                                <!--Footer CARD Notificações-->
                                <div class="card-footer d-flex justify-content-between bg-body-primary">
                                    <a href="" class="btn btn-outline-secondary btn-sm "><b><i class="bi bi-info-circle-fill me-2"></i>Pasta</b></a>
                                    <a href="" class="btn btn-primary btn-sm">
                                        Marcar feito
                                    </a>
                                </div><!--Footer CARD Notificações-->
                            </article>
                        </section>
                    </div><!--Card de informações-->
                    <!--TEMPLATE-->
                </div>
            </div>
        </div><!--CONTEUDO PRINCIPAL-->
        <!--RODAPE-->
        <div class="border-bottom mb-3 pt-4 bg-body-tertiary">
            {% include "partials/rodape.html" %}
        </div><!--RODAPE-->
        
    </main>
{% include 'partials/endscript.html' %}