{% load static %}
{% include 'partials/doctype.html' %}
{% include "partials/head.html" with pagina_atual="notificacao" %}
<body>
    <!--LATERAL-->{% include 'partials/aside.html' with pagina_atual='notificacao' %}
    <main>
        <!--BARRA SUPERIOR-->{% include "partials/header.html" with pagina_atual="notificacao" %}
        <!--CONTEUDO PRINCIPAL-->
        <div id="conteudo-principal overflow-hidden" class="m-2">
            <div class="mx-3 my-2 ">
                <h5 class="p-0 m-0 display-6 bg-body">Notificações pendentes</h5>
                <p>A interface de notificação permite que os secretários realizem de forma rápida e eficiente o envio de comunicados oficiais aos parentes dos assistidos. </p>
            </div>
            <div class="mx-3">
                
            </div>
            <div class="container-fluid">
                <!--Separação por data-->
                <div class="row ">
                    <!--Divisoria por data-->
                    <div class="divisoriadata">
                        <div class="h4 bg-body">Hoje</div>
                        <hr>
                    </div><!--Divisoria por data-->
                    <!--Card de informações-->
                    <div class="col-12 col-lg-6 mb-3">
                        <section class="m-0 ">
                            <article class="card">
                                <!--Header CARD Notificações-->
                                <div class="card-header h5 d-flex gap-3">
                                    <span class="badge text-bg-secondary">081/19</span>
                                    <span>Martinho da Silva Safadão</span>
                                </div><!--Header CARD Notificações-->
                                <!--Body CARD Notificações-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 infoassist">
                                            <h5 class="text-body-emphasis">Informações do Assistido</h5>
                                            <table>
                                                <tr>
                                                    <td>Nome:</td>
                                                    <td>Martinho da Silva Safadão</td>
                                                </tr>
                                                <tr>
                                                    <td>Pasta:</td>
                                                    <td>081/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Sexo:</td>
                                                    <td>Não definido</td>
                                                </tr>
                                                <tr>
                                                    <td>Nascimento:</td>
                                                    <td>08/05/2014</td>
                                                </tr>
                                                <tr>
                                                    <td>Endereço:</td>
                                                    <td>R. dos Marcianos Nº501</td>
                                                </tr>
                                                <tr>
                                                    <td>Escola:</td>
                                                    <td>EMEB Lincoln Takahashi</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-6 infoassist ">
                                            <h5 class="text-body-emphasis">Informações Familiares</h5>
                                            <table>
                                                <tr>
                                                    <td>Responsável:</td>
                                                    <td>Fulano de Tal</td>
                                                </tr>
                                                <tr>
                                                    <td>Genitora:</td>
                                                    <td>Marta da Silva Safadon</td>
                                                </tr>
                                                <tr>
                                                    <td>Genitor:</td>
                                                    <td>Martão da Silva Safadao tambem</td>
                                                </tr>
                                                <tr>
                                                    <td>Irmão:</td>
                                                    <td>um cara ai</td>
                                            </table>
                                        </div>
                                        <div class="col-6 infoassist">
                                            <h5 class="text-body-emphasis">Contato</h5>
                                            <table>
                                                <tr>
                                                    <td>Genitora <i class="bi bi-whatsapp"></i></td>
                                                    <td>(17) 2237-5831</td>
                                                </tr>
                                                <tr>
                                                    <td>Tio Valdao <i class="bi bi-whatsapp"></i></td>
                                                    <td>(17) 2214-4812</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-6 infoassist">
                                            <h5 class="text-body-emphasis">Sobre a Notificação</h5>
                                            <table>
                                                <tr>
                                                    <td>Sobre</td>
                                                    <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                                </tr>
                                                <tr>
                                                    <td>Data e hora:</td>
                                                    <td>15/02/2018, 07h30</td>
                                                </tr>
                                            </table>
                                            <form action="">
                                                <h6>Obs</h6>
                                                <textarea name="" id="" class="form-control"></textarea>
                                                <h6>Hora marcada</h6>
                                                <div class="d-flex">
                                                    <input type="date" class="form-control">
                                                    <input type="time" class="form-control">
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div><!--Body CARD Notificações-->
                                <!--Footer CARD Notificações-->
                                <div class="card-footer d-flex justify-content-between bg-body-primary">
                                    <a href="" class="btn btn-outline-secondary btn-sm "><b><i class="bi bi-info-circle-fill me-2"></i>Pasta</b></a>
                                    <a href="" class="btn btn-primary btn-sm">
                                        Marcar feito
                                    </a>
                                </div><!--Footer CARD Notificações-->
                            </article>
                        </section>
                    </div><!--Card de informações-->



























                    <!---->
                    <div class="col-12 col-lg-6 mb-3">
    <section class="m-0">
        <article class="card">
            <div class="card-header h5 d-flex gap-3">
                <span class="badge text-bg-secondary">092/20</span>
                <span>Joana Pereira dos Santos</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Informações do Assistido</h5>
                        <table>
                            <tr><td>Nome:</td><td>Joana Pereira dos Santos</td></tr>
                            <tr><td>Pasta:</td><td>092/2020</td></tr>
                            <tr><td>Sexo:</td><td>Feminino</td></tr>
                            <tr><td>Nascimento:</td><td>12/09/2011</td></tr>
                            <tr><td>Endereço:</td><td>Av. Brasil Nº123</td></tr>
                            <tr><td>Escola:</td><td>EMEF José de Anchieta</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Informações Familiares</h5>
                        <table>
                            <tr><td>Responsável:</td><td>Maria dos Santos</td></tr>
                            <tr><td>Genitora:</td><td>Maria dos Santos</td></tr>
                            <tr><td>Genitor:</td><td>Paulo Pereira</td></tr>
                            <tr><td>Irmã:</td><td>Letícia Santos</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Contato</h5>
                        <table>
                            <tr><td>Genitora <i class="bi bi-whatsapp"></i></td><td>(17) 2245-6723</td></tr>
                            <tr><td>Tia Ana <i class="bi bi-whatsapp"></i></td><td>(17) 2231-4892</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Sobre a Notificação</h5>
                        <table>
                            <tr><td>Sobre</td><td>Problemas de comportamento na escola e faltas constantes.</td></tr>
                            <tr><td>Data e hora:</td><td>22/08/2021, 10h00</td></tr>
                        </table>
                        <form>
                            <h6>Obs</h6>
                            <textarea class="form-control"></textarea>
                            <h6>Hora marcada</h6>
                            <div class="d-flex">
                                <input type="date" class="form-control">
                                <input type="time" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-body-primary">
                <a href="" class="btn btn-outline-secondary btn-sm"><b><i class="bi bi-info-circle-fill me-2"></i>Pasta</b></a>
                <a href="" class="btn btn-primary btn-sm">Marcar feito</a>
            </div>
        </article>
    </section>
</div>

<div class="col-12 col-lg-6 mb-3">
    <section class="m-0">
        <article class="card">
            <div class="card-header h5 d-flex gap-3">
                <span class="badge text-bg-secondary">105/21</span>
                <span>Carlos Henrique Oliveira</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Informações do Assistido</h5>
                        <table>
                            <tr><td>Nome:</td><td>Carlos Henrique Oliveira</td></tr>
                            <tr><td>Pasta:</td><td>105/2021</td></tr>
                            <tr><td>Sexo:</td><td>Masculino</td></tr>
                            <tr><td>Nascimento:</td><td>30/03/2012</td></tr>
                            <tr><td>Endereço:</td><td>Rua das Flores Nº321</td></tr>
                            <tr><td>Escola:</td><td>EMEF Dom Pedro II</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Informações Familiares</h5>
                        <table>
                            <tr><td>Responsável:</td><td>José Oliveira</td></tr>
                            <tr><td>Genitora:</td><td>Ana Lucia</td></tr>
                            <tr><td>Genitor:</td><td>José Oliveira</td></tr>
                            <tr><td>Irmão:</td><td>Gabriel Oliveira</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Contato</h5>
                        <table>
                            <tr><td>Genitor <i class="bi bi-whatsapp"></i></td><td>(17) 2299-1122</td></tr>
                            <tr><td>Avó Maria <i class="bi bi-whatsapp"></i></td><td>(17) 2200-3344</td></tr>
                        </table>
                    </div>
                    <div class="col-6 infoassist">
                        <h5 class="text-body-emphasis">Sobre a Notificação</h5>
                        <table>
                            <tr><td>Sobre</td><td>Denúncia de situação de negligência alimentar.</td></tr>
                            <tr><td>Data e hora:</td><td>10/11/2022, 14h30</td></tr>
                        </table>
                        <form>
                            <h6>Obs</h6>
                            <textarea class="form-control"></textarea>
                            <h6>Hora marcada</h6>
                            <div class="d-flex">
                                <input type="date" class="form-control">
                                <input type="time" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-body-primary">
                <a href="" class="btn btn-outline-secondary btn-sm"><b><i class="bi bi-info-circle-fill me-2"></i>Pasta</b></a>
                <a href="" class="btn btn-primary btn-sm">Marcar feito</a>
            </div>
        </article>
    </section>
</div>


























                    <!--TEMPLATE-->
                </div>
            </div>
            
        </div><!--CONTEUDO PRINCIPAL-->
        <!--RODAPE-->
        <div class="border-bottom mb-3 pt-4">
            {% include "partials/rodape.html" %}
        </div><!--RODAPE-->
    </main>
{% include 'partials/endscript.html' %}