<section class="barralateral d-none d-xl-block card" id="dados-lateral">
        <a href="#conteudodadosct" data-bs-toggle="collapse" class="text-decoration-none ">
            <div class="card-header d-flex justify-content-between">
                <span>Dados do CT</span>
                <i class="bi bi-info-circle"></i>    
            </div>
        </a>
    <div class="card-body collapse p small" id="conteudodadosct">
        <div class="d-flex justify-content-between">
            <span>
                <i class="bi bi-whatsapp"></i>
                0000-0000
            </span>
            <span>
                <i class="bi bi-telephone-fill"></i>
                0000-0000
            </span>
        </div>
        <div class="d-flex justify-content-between pt-1">
            <span>
                <i class="bi bi-whatsapp"></i>
                0000-0000
            </span>
            <span>
                <i class="bi bi-telephone-fill"></i>
                0000-0000
            </span>
        </div>
        <hr>
        <div class="p small">R. Cap. Miguel Ferreira, 533 - Vila Mariana, Mococa</div>
        <hr>
        <div class="d-flex justify-content-between">
            <span><i class="bi bi-envelope-fill"></i></span>
            <span class="p small">conselhotutelar@mococa.sp.gov.br</span>
        </div>
    </div>
</section>