<h7 class="ms-1 text-secondary">
    > 
    {% if pagina_atual == 'dashboard' %}
        Página Inicial
    {% elif pagina_atual == 'assistidos' %}
        Assistidos
    {% elif pagina_atual == 'atendimento' %}
        Atendimento
    {% elif pagina_atual == 'notificacao' %}
        Notificação
    {% elif pagina_atual == 'oficios' %}
        Ofícios
    {% elif pagina_atual == 'protocolos' %}
        Protocolos
    {% elif pagina_atual == 'atividade' %}
        Atividade
    {% elif pagina_atual == 'estatisticas' %}
        Estatísticas
    {% elif pagina_atual == 'backup' %}
        Backup
    {% endif %}
</h7>
